.cardSale {
  margin: 5px;
  width: 160px;
  background-color: chartreuse;
  border-radius: 10px;
  border: double 5px white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.titleSale {
  font-size: 1.5rem;
}

.typeSale {
  font-size: 0.9rem;
}

.priceSale {
  font-size: 0.9rem;
  font-weight: 700;
}
